.login-wrap, .divider, .login-wrap-center, .logo-wrap, .icon, .illustration, .title, .welcome, .copyright {
  position: relative;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../../images/loginBG.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-wrap-center, .logo-wrap, .icon, .illustration, .form-wrap, .title, .welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 70%;
  padding: 3%;
  background: rgb(185, 185, 185);
  background-image: url('../../images/introBG.jpeg');
  border-radius: 12px;
}

.logo-wrap, .icon, .illustration {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
}

.icon {
  width: 150px;
}

.illustration {
  height: 80%;
}

.form-wrap, .title, .welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 90%;
}

.title {
  color: #333333;
  font-weight: 400;
  font-size: 4vh;
  text-align: center;
}

.welcome {
  color: #a9a9a9;
  font-weight: 400;
  font-size: 2vh;
  text-align: center;
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: #fff;
  transform: translate(-50%);
}

.loginOtherSelection {
  display: flex;
  flex-direction: column;  
}

.buttonColletion {
  display: flex;
}
