<!DOCTYPE html>
<html lang="en">
  <body id=body_results> 
    <ul>
        {% for item in nav.top %}
        <li id = "nav" class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
<br>
<head>
    <script src="https://d3js.org/d3.v4.min.js"></script>  <!-- version of js-->
    <script src="static/javascript/javascript.js" defer></script>  <!-- location of js file-->
    <link rel="stylesheet" type="text/css" href="static/css/css.css">  <!-- location of css file-->

    <title>Profile</title>
</head>
<h1>
    Profile
</h1>